@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  background-color: #0f0f0f;
  color: #fff;
  min-height: 100vh;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: #0f0f0f;
}

::-webkit-scrollbar-thumb {
  background: #3f3f3f;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #717171;
}